<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AirBnB Neighborhood Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>AirBnB Neighborhood Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="well">
      <div class="row">
        <div class="col-md-3">
        <h4>SELECT Neighborhood:</h4> 
          <select id="selNeighborhood" onchange="optionChanged(this.value)"></select>
        </div>
        <div class = "col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">AirBnB Listing Prices (USD)</h3>
            </div>
            <div id="price-summary" class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Bedrooms</h3>
            </div>
            <div id="bedrooms-summary" class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Bathrooms</h3>
            </div>
            <div id="bathrooms-summary" class="panel-body"></div>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-12">
          <div id="histogram"></div>
        </div>  
      </div>
      <div class = "row">
        <div class = "col-md-6">
          <div id="box"></div>
        </div>
        <div class = "col-md-6">
          <div id="pie3"></div>
        </div>  
      </div>
      <div class = "row">
          <div class = "col-md-6">
            <div id="pie"></div>
          </div>
          <div class = "col-md-6">
            <div id="pie2"></div>
          </div>  
          <!-- <div class = "col-md-4"> -->
          <!-- </div> -->
      </div>  
    </div>
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>

